<h1>These Are Some Pirates</h1>
<ul>
  {{#each seededPirates}}
    <a href='/pirates/{{@index}}'><li> Name: {{name}}
    <br> Birthplace: {{birthplace}}
    <br> Death Year: {{death_year}}
    <br> Base: {{base}}
    <br> Nickname: {{nickname}}
    </li></a>
    <br>
  {{/each}}
</ul>

<a href='/pirates/new'>Add Another Pirate</a>
