<h2>These Are Some Pirates</h2>
<ul>
  {{#each seededPirates}}
    <a href='/pirates/{{@index}}'><li> Name: {{name}}
    <br> Birthplace: {{birthplace}}
    <br> Death Year: {{death_year}}
    <br> Base: {{base}}
    <br> Nickname: {{nickname}}
    </li></a>
    <a href='/pirates/{{@index}}/edit'><button>Edit this Pirate</button></a>
    <form action="/pirates/{{@index}}?_method=DELETE" method="POST">
      <input type="submit" value="Delete this Pirate"/>
    </form>
    <br>
  {{/each}}
</ul>

<a href='/pirates/new'><button>Add Another Pirate</button></a>
