<h1>This is A Pirate</h1>
<ul>

    <li> Name: {{name}}
    <br> Birthplace: {{birthplace}}
    <br> Death Year: {{death_year}}
    <br> Base: {{base}}
    <br> Nickname: {{nickname}}
    </li>
    <br>

</ul>

<a href='/pirates'>See All the Pirates</a>
<a href='/pirates/new'>Add Another Pirate</a>
