<h2>Your Favorite Movies</h2>


<div class="favorite-movies-list">
  {{#each favoriteMovies}}
   <a href='/favorites/{{@index}}'><p class='favoriteMovie'>{{Title}} ({{Year}})</p></a>
    <img class='Poster' src={{Poster}}>
    <a href='/favorites/{{@index}}/edit'>Edit Comments</a>
    <form action="/favorites/{{@index}}?_method=DELETE" method="POST">
      <input type="submit" value="Delete from Favorites"/>
    </form>
  {{/each}}
</div>

<a href="http://localhost:3000/search">Search For a Movie</a>

